# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Environment configuration
.env
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db
