rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允许任何人提交联系表单
    match /contactMessages/{messageId} {
      // 允许创建但不允许读取、更新或删除
      allow create: if true;
    }

   // 允许匿名用户访问
    match /visitors/{document=**} {
      // 读取权限
      allow read: if true;
      // 创建权限
      allow create: if true;
      // 更新权限 - 仅允许更新访问计数等
      allow update: if true;
    }

    // 统计数据
    match /statistics/{document=**} {
      allow read: if true;
      allow write: if true;
    }

    // 其他集合的规则
    match /{document=**} {
      // 默认规则 - 拒绝所有访问
      allow read, write: if false;
    }
  }
}
